<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
        bootstrap="tests/Functional/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        mapTestClassNameToCoveredClassName="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60">
    <listeners>
        <listener class="Helmich\Graphizer\Tests\Listener\BenchmarkListener">
            <arguments>
                <string>benchmarks.json</string>
            </arguments>
        </listener>
    </listeners>
</phpunit>